
#leftPanel{
	width : 600px;
	height : 850px;
	background-color:#208020;
	float:left;
}
#mainWindow{
	width : 600px;
	height : 400px;
}
#ennemiesWindow{
	width : 600px;
	height : 400px;
	background-color:#802020;
}
.ennemyCard{
	width : 198px;
	height : 198px;
	border:1px solid black;
	float:left;
}
#travelWindow{
	width : 600px;
	height : 400px;
	background-color:#808020;

}
#middleMenu{
	width : 600px;
	height : 50px;
	background-color:#808080;
}
#partyWindow{
	width : 600px;
	height : 400px;
	background-color:#202080;
}
.partyCard{
	width : 198px;
	height : 198px;
	border:1px solid black;
	float:left;
}
#rightPanel{
	width : 400px;
	height : 850px;
	baackground-color:#208020;
	float:left;
}
#lateralWindow{
}
.lateralSubWindow{
	width : 400px;
	height : 400px;
}
#mapWindow{
	background-color:#FF4500;
}
#targetWindow{
	background-color:#802080;
}
#rightMenu{
	width : 400px;
	height : 50px;
	background-color:#404040;
}
#characterWindow{
	width : 400px;
	height : 400px;
	background-color:#00FF7F;
}
#inventoryWindow{
	background-color:#A0A0A0;
	overflow-y: scroll;
}

.barm{
	height:15px;
	max-width:150px;
}
.barc{
	height:15px;
	max-width:75px;
}
.maxbarm{
	width:150px;
	height:15px;
	background-color:#202020;
}
.maxbarc{
	width:75px;
	height:15px;
	background-color:#202020;
	float:left;
}
.healthbar{
	background-color:#FF0000;
}
.endurancebar{
	background-color:#FFFF00;	
}
.manabar{
	background-color:#0000FF;	
}
.mindbar{
	background-color:#FF00FF;	
}

.character{
	float:left;
	padding : 10px;
}
.attributes{
	float:left;
	padding : 10px;

}

.selected{
	border:1px solid red !important;
}

.dead{
	background-color:#500000 !important;
}

.charStats{
	background-color:yellow;
	width:400px;
	height:400px;
}

#skillbookWindow{
	background-color:purple;
	width:400px;
	height:400px;
}

.item{
	width:68px;
	height:68px;
	border:1px solid black;
	float:left;
}

.itemImg{
	width:68px;
	height:68px;
}

.selectedItem{
	border:1px solid red !important;
}